$color-blanco: #fff;
$color-azulo: #0695d6;
$color-azulc: #01bdf2;
$color-gris: #dddddd;
$color-griso: #767676;
$color-grisc: #dadada;
$color-verde: #46a948;
$color-naranja: #f97000;
$color-rojo: red;
$font-peque: 12px;
$font-media: 14px;